body {
background-image : url("pink.jpg");
background-repeat:repeat;
}
p {
    text-align: justify;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: left;
}
#button {
  float: right;
}
#heading {
  padding-bottom: 10px;
}
#Leah {
    text-align: justify;
    padding-bottom: 20px;
}
#Mar {
    text-align: justify;
    padding-bottom: 20px;
}
#Leah2 {
    text-align: center;
    float: right;
    font-size: 50px;
}
#Mar2 {
    text-align: center;
    float: left;
    font-size: 50px;
}
#marpic {
    float: right;
}
#leahpic {
    float: left;
}
#mission, #importance  {
    border-color:#336699;
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
}
#malala {
    text-align: center;
    font-weight: bold;
}
#beyonce {
    text-align: center;
    font-weight: bold;
}
#susan {
    text-align: center;
    font-weight: bold;
}
#malala2 {
    text-align: center;
}
#beyonce2 {
    text-align: center;
}
#susan2 {
    text-align: center;
}
#malalafacts {
    text-align: left;
}
#beyoncefacts {
    text-align: left;
}
#susanfacts {
    text-align: left;
}

#eleanor {
    text-align: center;
    font-weight: bold;
}
#barbara {
    text-align: center;
    font-weight: bold;
}
#hillary {
    text-align: center;
    font-weight: bold;
}
#eleanor2 {
    text-align: center;
}
#barbara2 {
    text-align: center;
}
#hillary2 {
    text-align: center;
}
#eleanorfacts {
    text-align: left;
}
#barbarafacts {
    text-align: left;
}
#hillaryfacts {
    text-align: left;
}
#vid {
    float: right;
}
#logo {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
